* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in;
}

html {
    scroll-behavior: smooth;
}

body{
    text-align: center;
}
#sec-1 {
    background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 97vh;
}

#del {
    padding-top: 20vh;
    padding-bottom: 20px;
}

#mouse {
    padding-top: 130px;
}

#sec-2 {

    margin: 50px auto;
}

#sec-3 {
    /* font-size: calc(1vw + 1vh + .5vmin); */
    background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true');
    color: white;
    padding: 100px 10%;
}

#sec-6 h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.p1,.p2,.p3 {
    display: none;
}

.A,.B,.C,.D,.E,.F,.G,.H {
    width: 153px;
    height: 153px;
    margin: 5px;
}
.A {
    background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/portfolio/work1.jpg?raw=true');
    background-size: cover
}
.B {
    background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/portfolio/work2.jpg?raw=true');
    background-size: cover
}
.C {
    background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/portfolio/work3.jpg?raw=true');
    background-size: cover
}
.D {
    background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/portfolio/work4.jpg?raw=true');
    background-size: cover
}
.E {
    background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/portfolio/work5.jpg?raw=true');
    background-size: cover
}
.F {
    background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/portfolio/work6.jpg?raw=true');
    background-size: cover
}
.G {
    background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/portfolio/work7.jpg?raw=true');
    background-size: cover
}
.H {
    background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/portfolio/work8.jpg?raw=true');
    background-size: cover
}
.text {
     background-color: rgba(247, 248, 249,0.7);
     width: 100%;
     height: 100%;
     margin: auto;
     position:relative;
     margin-top: 20px;
     opacity: 0;
}
.text>p {
    padding-top: 67px;
}
#sec-5 {
  background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true');
  padding: 40px 5px;
  color: white;
  max-width: 100vw;
}
.message{
  padding: 3px 15px;
  margin: 7px 2px;
  width: 700px;
  max-width: 89%;
}
form{
  width: 700px;
  max-width: 90%;
}
::placeholder{
  color: rgb(204, 204, 204);
}
form input{
  width:49%;
}
form input, form textarea{
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 7px;
}
form textarea{
  margin-top: 20px;
  width: 98.8%;
}
footer{
  padding-top: 40px;
  text-align: center;
  max-width: 70vw;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px){
    .col-md-12 h1,#sec-2 h1,#sec-3 h1,#sec-4 h1 {
      font-size: calc(3vw + 3vh + .5vmin);
    }
    .col-md-12 p,#sec-2 p,#sec-3 p {
        font-size: calc(1vw + 1vh + .5vmin);
    }
}
@media only screen and (max-width: 1024px){
    form input, form textarea{
    width: 100%;
    margin: 5px 0;
  }
  form input[type=submit]{
    width: auto;
    padding: 0 15%;
  }

}